<style>
    body {
        background-color: #FDF6EC;
    }
</style>

{{> header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Hello, world!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <style>
    #sidebar {
      width: 20%;
      height: 100vh;
      background: #F3E9DD;
    }
  </style>
</head>

<body>
   <div class="d-flex">
    <div id="sidebar">
      <div class="p-2">
        <h4><a href="#" style="font-family:optima; color:#DAB88B" class="navbar-brand text-center w-100 p-4 border-bottom">
          Menu Estatico
        </a></h4>
      </div>
      <div id="sidebar-accordion" class="accordion">
        <div class="list-group">
          <h4><a href="/" class="list-group-item list-group-item-action" 
          style="font-family:optima; background-color:#F3E9DD; border-color:#F3E9DD; color:#DAB88B">
            <i  class="bi bi-book mr-3" aria-hidden="true"></i>Ver Nota
          </a></h4>
          
          <h4><a href="/" class="list-group-item list-group-item-action" 
          style="font-family:optima; background-color:#F3E9DD; border-color:#F3E9DD; color:#DAB88B">
            <i  class="bi bi-book mr-3" aria-hidden="true"></i>Registro De Notas
          </a></h4>
          
          <h4><a href="/" class="list-group-item list-group-item-action" 
          style="font-family:copperplate; background-color:#F3E9DD; border-color:#F3E9DD; color:#DAB88B">
            <i  class=" bi bi-card-checklist mr-3" aria-hidden="true"></i>Agenda
          </a></h4>
          
          <h4><a href="/" class="list-group-item list-group-item-action" 
          style="font-family:copperplate; background-color:#F3E9DD; border-color:#F3E9DD; color:#DAB88B">
            <i class="bi bi-card-list mr-3" aria-hidden="true"></i>Asignatura
          </a></h4>
          
        </div>
      </div>
    </div>

    <!--Aqui va toda la base que se encuentra a las dechecha-->
    <center><h1 style="color:#DAB88B" class="mb-4">trabajo</h1></center>
    
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

</body>
</html>
