<style type="text/css">
    
    img.grande{width: 300px; height: 300px;}
</style>

 <div class="position-absolute top-50 start-50 translate-middle">

    <img class="grande" src="icono.png">
    <br>
    <br>
    <center><label>Iniciar Sesion</label></center>
    <center><a href="/login" class="btn btn-primary">Iniciar Sesion</a></center>
    <br>
    <center><label>Registrar</label></center>
    <center><a href="/register" class="btn btn-success">Registrar</a></center>
    <br>

    
 </div>
