<style>
    body {
        background-color: #F3E9DD;
    }
</style>

<style type="text/css">
    
    img.grande{width: 300px; height: 300px;}
</style>

 <div class="position-absolute top-50 start-50 translate-middle">

    <center><h1 style="font-family:copperplate; color:#DAB88B" class="mb-4">STUDENTS GRADE CALCULATOR</h1></center>

    <!-- IMAGEN de referencia nota: cambiarla -->
    <center><img class="grande" src="icono.png"></center>

    <br>
    <br>
    <center><a href="/login" class="btn" style="font-family:optima; background-color:#DAB88B; border-color:#DAB88B; color:#FFFF">Iniciar Sesion</a></center>
    <br>
    <center><a href="/register" class="btn" style="font-family:optima; background-color:#DAB88B; border-color:#DAB88B; color:#FFFF">Registrar</a></center>
    <br>

    
 </div>
