<style>
    body {
        background-color: #F3E9DD;
    }
</style>
<br>
<br>
<center><h1 style="font-family:copperplate; color:#DAB88B" class="mb-4">REGISTER</h1></center>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/register" method="POST">
            <div class="form-group" style="font-family:courier new">
                Nombre de Usuario
                <input type="text" name="fullName" id="" class="form-control" placeholder="Nombre de Usuario" style="background-color:#FDF6EC; border-color:#FDF6EC; color:#000" required>
            </div>
            <br>
            <div class="form-group" style="font-family:courier new">
                Email
                <input type="text" name="email" id="" class="form-control" placeholder="nombre@example.com" style="background-color:#FDF6EC; border-color:#FDF6EC; color:#000" required>
            </div>
            <br>
            <div class="form-group" style="font-family:courier new">
                Password
                <input type="password" name="password" id="" class="form-control" placeholder="****" style="background-color:#FDF6EC; border-color:#FDF6EC; color:#000" required>
            </div>
            <br>
            <div class="form-group" style="font-family:courier new">
                Confirm Password
                <input type="password" name="confirmPassword" id="" class="form-control" placeholder="****" style="background-color:#FDF6EC; border-color:#FDF6EC; color:#000" required>
            </div>
            <br>
            <center><button type="submit" class="btn" style="font-family:optima; background-color:#DAB88B; border-color:#DAB88B; color:#FFFF">Register</button></center>
        </form>
    </div>
</div>